:root {
  // --primary-dark: #0d4637;
  // --secondary-dark: #033a21;
  // --primary-light: #338a64;
  // --secondary-light: #338a42;
  // --white-text: #d9d9d9;
  // --dark-text: #191919;

  --primary-dark: #363537;
  --primary-green: #0cce6b;
  --primary-red: #ef2d56;
  --primary-light: F2F7F2;
  --secondary-green: #387d7a;
}
