@use "./mat-breakpoints" as *;

:root {
  --base-font-size: 1.8rem;
  --line-height: 1.56;

  --scale: 1.225;

  @media ($mat-gt-xs) {
    --base-font-size: 2rem;
  }
  @media ($mat-gt-sm) {
    --base-font-size: 2.2rem;
  }

  @media ($mat-gt-md) {
    --base-font-size: 2.4rem;
  }

  @media ($mat-gt-lg) {
    --base-font-size: 2.6rem;
  }

  @media ($mat-gt-xl) {
    --base-font-size: 2.8rem;
  }

  body {
    font-size: var(--base-font-size);
    line-height: var(--line-height);
  }

  // --h6: calc(var(--base-font-size) * var(--scale));
  // --h5: calc(var(--h6) * var(--scale));
  // --h4: calc(var(--h5) * var(--scale));
  // --h3: calc(var(--h4) * var(--scale));
  // --h2: calc(var(--h3) * var(--scale));
  // --h1: calc(var(--h2) * var(--scale));

  // h1 {
  //   font-size: var(--h1);
  //   margin: calc(8px * var(--scale));
  // }

  // h2 {
  //   font-size: var(--h2);
  //   margin: calc(8px * var(--scale));
  // }

  // h3 {
  //   font-size: var(--h3);
  //   margin: calc(8px * var(--scale));
  // }

  // h4 {
  //   font-size: var(--h4);
  //   margin: calc(8px * var(--scale));
  // }

  // h5 {
  //   font-size: var(--h5);
  //   margin: calc(8px * var(--scale));
  // }

  // h6 {
  //   font-size: var(--h6);
  //   margin: calc(8px * var(--scale));
  // }

  // p {
  //   font-size: var(--base-font-size);
  //   margin: calc(8px * var(--scale));
  // }

  // a {
  //   font-size: calc(var(--base-font-size) * var(--scale));

  //   &:hover {
  //     text-decoration: none;
  //   }
  // }

  .paragraph {
    font-size: var(--base-font-size);
    line-height: var(--line-height);
    // margin-bottom: 20px;
  }

  .header {
    font-size: calc(var(--h2));
    line-height: var(--line-height);
  }

  .sub-header {
    font-size: calc(var(--h4));
    line-height: var(--line-height);
  }
}

html {
  font-size: 62.5%; /* 10px browser default */
}
