@use "./custom-typography";
@use "./mixins";
@use "./colors";
@use "./common/button";
// @use "@angular/material" as mat;
// @include mat.core();
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Signika+Negative:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

//   Logo Font
//      font-family: "Signika Negative", sans-serif;
//   Header
//      font-family: "Poppins", sans-serif;
//   Paragraph
//      font-family: "Work Sans", sans-serif;

html,
body {
  background-color: var(--secondary-green);
  color: var(--primary-dark);
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
  // font-family: "Work Sans", sans-serif;
  // font-family: "Poppins", sans-serif;
  // font-family: "Signika Negative", sans-serif;
  font-family: "Work Sans", sans-serif;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;

  .app-router-outlet {
    flex-grow: 1;
  }

  .app-navbar {
    height: 8%;
    background-color: var(--primary-green);
  }

  .app-topbar {
    height: 5%;
    background-color: var(--primary-green);
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

.button {
  @include mixins.basic-button;
}

.topbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;

  font-family: "Work Sans", sans-serif;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 700;
}

// --primary-green: #0cce6b;
// --primary-light: F2F7F2;
// --secondary-green: #387d7a;

// .navbar-container {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   height: 100%;
//   // width: 100vw;
//   // max-width: 100vw;
//   // min-width: 100vw;
//   // position: fixed;
//   // bottom: 0;
//   // height: 8vh;

//   .navbar-item {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-end;
//     transition: ease-out, width 0.4s, color 0.4s, height 0.4s, transform 0.4s;
//     height: auto;

//     .navbar-icon {
//       display: flex;
//       // font-size: 16px;
//       margin-bottom: 3px;
//     }
//     .navbar-icon mat-icon {
//       transform: scale(1.1);
//     }

//     .navbar-text {
//       font-size: 0.8rem;
//       // text-transform: uppercase;
//       letter-spacing: 0.5px;
//       font-weight: 600;
//     }
//   }

// .navbar-item:hover {
//   transform: scale(1.1);
//   color: #ffffff;
//   cursor: pointer;
// }

//   .navbar-item {
//     cursor: pointer;
//   }
// }

.navbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-green);
  padding: 0 50px;

  --navbar-primary: #000000;
  --navbar-secondary: #ffffff;
  --navbar-accent: #31c58f;

  .navbar-item-container:hover {
    .navbar-item-shadow {
      box-shadow: black 0px 0px 0px 1px;
      background-color: var(--navbar-accent);
    }

    .navbar-item {
      // transform: scale(1);
      cursor: pointer;
      bottom: 0px;
      right: 0px;
      background-color: var(--navbar-accent);
      box-shadow: var(--navbar-accent) 0px 0px 0px 3px inset;
    }
  }

  .navbar-item-container {
    position: relative;
    .navbar-item-shadow {
      transition: ease-out, width 2s, color 2s, height 2s, transform 2s;

      box-shadow: var(--navbar-primary) 0px 0px 0px 2px;
      position: absolute;
      bottom: -1px;
      right: -1px;

      border-radius: 4px;
      height: 41px;
      width: 41px;

      background-color: var(--navbar-primary);
    }

    .navbar-item {
      transition: ease-out, width 0.4s, color 0.4s, height 0.4s, transform 2s;

      border: 3px solid var(--navbar-primary);
      border-radius: 4px;
      background-color: var(--primary-green);
      z-index: 1;
      position: relative;
      bottom: 2px;
      right: 2px;
      transform: scale(1.1);

      .navbar-icon {
        display: flex;
        color: var(--navbar-primary);
        padding: 5px;
        margin: 0;
      }

      .navbar-icon mat-icon {
        transform: scale(1.35);
      }
    }
  }
}

.canvas-container {
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.margin-20 {
  margin: 20px;
}

.entry-card {
  height: 7rem;
}

// done
// settings
