@use "./custom-typography";
@use "./mixins";
@use "./colors";
@use "./common/button";
// @use "@angular/material" as mat;
// @include mat.core();
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;600&display=swap");

html,
body {
  background-color: var(--primary-dark);
  color: var(--white-text);
  overflow: hidden;
  height: 85vh;
  width: 100vw;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

.button {
  @include mixins.basic-button;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: rgb(7 46 29);
  height: 8vh;
  box-shadow: rgb(0 0 0 / 10%) 5px 11px 20px -12px;

  .navbar-item {
    color: #5b987f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: ease-out, width 0.4s, color 0.4s, height 0.4s, transform 0.4s;

    mat-icon {
      // transform: scale(1);
    }

    .navbar-icon {
      display: flex;
    }

    .navbar-text {
    }

    // span {
    //   font-size: 1rem;
    //   text-transform: uppercase;
    //   font-weight: 600;
    //   letter-spacing: 1px;
    // }
  }

  .navbar-item:hover {
    transform: scale(1.1);
    color: #24ffa4;
    cursor: pointer;
  }

  .navbar-item {
    color: #24ffa4;
    cursor: pointer;
  }
}

.canvas-container {
  height: calc(100vh - 8%);
  width: 100vw;

  canvas {
    height: 92%;
    width: 100%;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.margin-20 {
  margin: 20px;
}

.entry-card {
  height: 7rem;
}

// done
// settings
