@mixin basic-button {
  border: none;
  padding: 10px 25px;
  border-radius: 55px !important;
  cursor: pointer;
}

@mixin light-blue-button {
  @include basic-button;
  background-color: var(--primary-light-blue) !important;
  color: #181818 !important;
}
