@mixin flex-column {
  flex-direction: column;
  display: flex;
}

@mixin flex-row {
  flex-direction: row;
  display: flex;
}

@mixin flex-column-reverse {
  flex-direction: column-reverse;
  display: flex;
}

@mixin align-center-center {
  place-content: center;
  align-items: center;
}
@mixin align-center-start {
  place-content: flex-start center;
  align-items: flex-start;
}

@mixin align-space-between-center {
  place-content: center space-between;
  align-items: center;
}

@mixin align-space-between-start {
  place-content: flex-start space-between;
  align-items: flex-start;
}

@mixin align-start-center {
  place-content: center flex-start;
  align-items: center;
}

@mixin align-start-end {
  place-content: flex-end flex-start;
  align-items: flex-end;
}

@mixin align-start-start {
  place-content: flex-start;
  align-items: flex-start;
}

@mixin align-space-around-center {
  place-content: center space-around;
  align-items: center;
}

@mixin space-evenly-center {
  place-content: flex-start space-evenly;
  align-items: flex-start;
}
